@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center mt-5">
    <h1>HỆ THỐNG QUẢN LÝ TRÀ SỮA</h1>

    <hr />

    <h3>Đồ án ASP.NET MVC</h3>

    <p>
        Chào mừng đến với hệ thống quản lý cửa hàng trà sữa.
    </p>

    <img src="https://cdn-icons-png.flaticon.com/512/3082/3082028.png"
         width="180" />
</div>